header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#buttonColor2{
    background-color: #ff18186e;
}
#buttonColor2:hover{
    background-color: #ff1818;
}
#buttonColor3{
    background-color: #00dd1b6e;
}
#buttonColor3:hover{
    background-color: #00dd1b;
}
#buttonColor4{
    background-color: #efe9196e;
}
#buttonColor4:hover{
    background-color: #efe919;
}
#buttonColor5{
    background-color: #ff8d186e;
}
#buttonColor5:hover{
    background-color: #ff8d18;
}
#buttonColor6{
    background-color: #ABCDEF6e;
}
#buttonColor6:hover{
    background-color: #ABCDEF;
}
#buttonColor7{
    background-color: #D870936e;
}
#buttonColor7:hover{
    background-color: #D87093;
}
#buttonColor8{
    background-color: #62639B6e;
}
#buttonColor8:hover{
    background-color: #62639B;
}